body{
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  margin: 0 auto;
}

.inner {
  padding: 15px  25px;
  background-color: #199319;
  margin-right: 5px;
}

.inner a{
  color: white;
  text-decoration: none;
}
